<div class="container d-flex justify-content-center">
    <div class="card m-auto my-lg-5 border-light">
        <div class="card-body" style="width: 600px;">
            <div class="d-flex justify-content-center mb-3 mt-3"><img
                    src="https://seeklogo.com/images/F/fpt-logo-5B8F17203A-seeklogo.com.png"
                    alt=""
                    style="width: 100px;"></div>
            <div class="card-title mb-5">
                <h4 class="fw-bold text-center">Quên mật khẩu</h4>
            </div>
            <form name="frmSignUp">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi
                                bi-envelope-fill"></i></span>
                        <input type="email" class="form-control"
                            id="email" name="email" placeholder="Nhập email"
                            ng-model="student.email" required>
                    </div>
                </div>

                
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi
                                bi-person-vcard-fill"></i></span>
                        <input type="number" class="form-control"
                            id="verify" name="verify" placeholder="Nhập mã xác thực"
                            ng-model="student.verify" ng-minlength="4"
                            ng-maxlength="4" required>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi
                                bi-key-fill"></i></span>
                        <input type="password" class="form-control"
                            id="password" name="password" placeholder="Nhập mật khẩu"
                            ng-minlength="3" ng-maxlength="30"
                            ng-model="student.newPassword" required>
                    </div>
                </div>


                <div class="d-flex justify-content-center mt-4"><button
                        type="button"
                        class="btn btn-info text-light fw-bold w-100"
                        ng-disabled="frmSignUp.$invalid"
                        ng-click="signUp()">Lưu</button></div>
            </form>
        </div>
    </div>
</div>